<form action="https://www.youtube.com/watch" method="GET">
    <input type="text" name="v" value="JksX4mN5H3w" placeholder="video id" />
    <input type="text" name="t" value="5m43s" placeholder="timestamp e.g. 1m12s" />
    <button type="submit">Go!</button>
  </form>