  <nav>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/dieroll">Die Roll</a></li>
        <li><a href="/family">Family</a></li>
        <li><a href="/scholars">Scholars</a></li>
    </ul>
</nav>