<html lang="en">

<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<body>
  <h1>Home</h1>
  <h2>Your path to becoming a Node.js ninja!</h2>

    <%- include('./partials/footer.ejs') %>
</body>
</html>